@font-face {
    font-family:"STARWARS";
    src:url("../font/STARWARS.eot") format("eot"),
    url("../font/STARWARS.woff") format("woff"),
    url("../font/STARWARS.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

a {
    color:#7c8d9c;   
}

a:hover {
    color:#212529;
    text-decoration: none;
}

body{
    background-color: lightgrey;
}

.title{
    font-family:"STARWARS";
    font-size: 34px;
}

tr th.terrain{
    cursor: default !important;
}

th{
    text-align: center;
    vertical-align: middle !important;
    cursor: pointer;
}

th:hover {
    background-color: #7c8d9c !important ;
}

.footer{
    font-size: 12px;
}

